/* globals.css — put at top */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  overflow-x: hidden; /* prevent horizontal scrolling */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make images and media not overflow their containers */
img, video, canvas {
  max-width: 100%;
  height: auto;
  display: block;
}



body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f8;
}

h2, h4, h5, p {
  margin: 0;
}

.app-container {
  display: flex;
  min-height: 100vh;
}
